@font-face {
  font-family: "ITCBLKAD";
  src: url(../font/ITCBLKAD.TTF);
}

/* header */
header {
  background-image: url(../../style/image/back\ ground.jpg);
  background-size: cover;
  background-position: 50px;
  background-repeat: no-repeat;
}
.home {
  border: 2px #c0c0c0 solid;
  color: #c0c0c0;
  padding: 5px;
}
a {
  text-decoration: none;
}
.all-header {
  color: #c0c0c0;
  background-color: rgba(161, 161, 161, 0.8);
}
.site-name {
  margin: 30px;
  display: inline;
}
.name {
  display: inline;
}
.clik {
  margin: 0 50%;
  text-align: center;
  display: inline-block;
}
/* body */
.fav-cars {
  background-image: url(../../style/image/bg.jpg);
  display: block;
  text-align: center;
  border: 2px black solid;
  border-radius: 25px;
  margin: 25px 10px;
  font-family: "ITCBLKAD";
}
.photo {
  width: 800px;
  display: inline;
}
.logo-cars {
  width: 400px;
  display: inline-block;
}
.logo-cars-1 {
  width: 600px;
  display: inline-block;
}
.logo-cars-3 {
  width: 600px;
  display: inline-block;
}
.logo-cars2 {
  width: 45%;
  display: inline-block;
}
.lorem {
  background-color: #e7e7e7;
  padding: 10px;
  display: block;
  color: dimgray;
  margin: 15px;
  display: inline-block;
  width: 50%;
  font-size: 25px;
}
.number {
  text-align: center;
  display: block;
  border: 2px black solid;
  margin: 20px;
  padding: 10px;
  color: gray;
  font-size: 25px;
}
.back {
  text-align: center;
  margin: 30px 25px;
}
.clik-back {
  border: 2px coral solid;
  color: coral;
  padding: 5px;
}
.all {
  display: inline-block;
  background-color: rgb(217, 217, 217);
}
.dokmeh {
  margin: 25px;
  font-size: 25px;
  background-color: rgb(161, 161, 161);
  padding: 0 10px;
}
form {
  font-size: 25px;
}
/* footer */
footer {
  background-image: url(../../style/image/back\ ground.jpg);
  background-position: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.hagh {
  background-color: rgba(161, 161, 161, 0.8);
  font-size: 20px;
  padding: 10px;
}

.logo {
  width: 50px;
}
.ertebat {
  color: #c0c0c0;
}
