body {
    background-color: #98FB98;
}
p{
    color:blueviolet;
}
.game1 {
        color:#252D40;
}
.game2{
    color: #252D40;

}
.game3{
    color: #252D40;
}
.game4{
    color: #252D40;
}
.game5{
    color: #252D40;
}
img{
    width: 400px;
}
