body{
 background: url(wwe.jpg);
 background-size: cover;
 background-position:center ;
}
.Aj{
width: 400px;
margin-top: 270px;
border: rgb(43, 1, 150) 200px;
margin-left:50px ;
} 
.Aj{
    border-radius: 18%;
    border: groove yellow 150 px;
}
h1{
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif ;
    margin-left: 140px;
}
.all{
    display: flex;
    text-decoration: none;
}
.logo{
    color: rgb(0, 243, 231);
    margin-left:25px; 
    margin-right: 25px;
    margin-top: 340px;
    /* font-size: 40px; */
    width:40px;
    height: 40px;
}
.Background{
    width: 270px;
    height: 50px;
    margin-left:-240px;
    margin-top: 240px;
    border-color: rgb(6, 111, 106);
    border-width: 10px;
    background: rgb(0, 243, 231);
    color: rgb(0, 0, 0);
}
.log{
    width: 35px;
    height: 35px;
    color: rgb(0, 243, 231);
}
