body {
  background-image: url(images/abstract-blue-circle-black-background-technology_1142-12714.jpg);
  background-size: cover;
}

p {
  color: aqua;
}

.game1 {
  color: rgb(255, 255, 255);
}

u {
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(0, 24, 241);
}

hr {
  height: 3px;
  background-color: rgb(0, 47, 255);
}

h1 {
  color: #1c91ff;
}

.q {
  color: #ffffff;
}

.card {
  text-align: center;
}