body {
  background-image: url(images/outrun-neon-dark-background-purple-3840x2160-4523.jpg);
  background-size: cover;
}
.img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  border-radius: 50%;
}
.card {
  text-align: center;
  display: block;
}
.text {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 500;
  color: rgb(226, 43, 144);
}
.logo {
  color: rgb(255, 0, 200);
  width: 3%;
  height: 22%;
}
