/* header */

header {
  background-image: url(image/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 25px;
}

.all {
  background-color: rgba(161, 161, 161, 0.7);
  padding-bottom: 50px;
  text-align: center;
  margin: 0;
}

.clik {
  display: inline;
}

.menu {
  display: inline-block;
}
.menu1 {
  display: block;
  background-color: #9a9a9a;
  border: 2px black solid;
  color: #fff;
  padding: 10px 5px;

}

.menu :hover {
  box-shadow: 0 0 3px 1px #000;
  background-color: #5a5a5a;
}
@media screen and (max-width: 480px) {
  .menu1 {
    margin: 5px;
    padding: 10px;
    font-size: medium;
  }
  .menu {
    padding: 10px;
  }
}
/* body */
body {
  background-image: url(../style/image/back-ground-body.jpg);
  margin: 0;
}

.kol {
  border: 2px black solid;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.name {
  display: inline;
}

.site-name {
  display: inline;
}

.home {
  display: inline;
}

a {
  text-decoration: none;
}

.nazar-sanji {
  text-align: right;
  border: 2px black solid;
  margin: 5px;
  padding: 30px;
}

/* footer */
footer {
  background-image: url(image/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hagh {
  background-color: rgba(161, 161, 161, 0.7);
  font-size: 20px;
  padding: 10px;
}

.logo {
  width: 50px;
}
