header{
    text-align: center;
    color: red
    
    
}

body{
    background-size:cover;
    background: url(wwe\ logo.jpg);
    background-size: cover;
    
    
}
.wwe{
    width: 20px;
}
.logo{
    color: red;
    width: 2%;
    height: 10%;
    margin-top: 250px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-top: -350px;
}
.ash{
    opacity:20% ;
}
