.all {
  background-color: #;
}
.name {
  display: inline;
}
.clik {
  border: 2px black solid;
  display: inline;
  margin: 50%;
}
.site-name {
  display: inline;
}
.menu {
  display: inline-block;
  padding: 5px;
  color: black;
  text-align: center;
}
.home {
  display: inline;
}
a {
  text-decoration: none;
}
/* footer */
.hagh {
  background-color: rgb(82, 82, 82);
  font-size: 20px;
  padding: 10px;
}

.logo {
  width: 50px;
}
