
body {font-family: tahoma;

}
.bag{
    background-image: url(/image/images.png);

}
header{
    background: rgba(196, 5, 5, 0.336);
    padding-left: 20px;
    margin: 20px;
   
    border-radius: 50px;
    border: 10px rgba(0, 0, 0, 0.61) solid;
}
.header1{
    text-align: center;
    color: rgb(0, 0, 0);
margin: auto;
margin-bottom: 5vw;
}
.fipi{
    width: 800px;
    border-radius: 20px;
}
.pic{
    text-align: center;
    font-size:20px ;
}
.p1{
    text-align: right;
    
    
}
.pic2{
width: 800px;
border-radius: 20px;



}  
.ri{
    text-align: center;
  
}
.tit1{
    text-align: center;
    padding-top:50px ;
    padding-bottom: 20px;
     margin: 20px 300px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              

    border-bottom: 3px solid black;
    
}
.dis1{
    text-align: center ;
    font-weight: bold;
    padding-bottom: 2px;
   
   
}
.ri1{
    text-align: center;
}
.tit2{
    text-align: center;
    padding-top:50px ;
    padding-bottom: 20px;
     margin: 20px 300px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              

    border-bottom: 4px solid black;
    
}
    

.dis2{
    text-align: center ;
    font-weight: bold;
    padding-bottom: 2px;
    margin: 0px 200px;  
    padding-top: 15PX;
    padding-bottom: 50PX;
   
}
.table {
    text-align: center  ;
    display: table;
    width:50%;
    margin: 0 auto;
    border-collapse: collapse;
    
}

.row {
    display: table-row;
}

.cell {
    text-align: center;
    display: table-cell;
    padding: 5px;
    border: 2px solid #000000;
    font-weight: bold;
    background-color: rgba(137, 43, 226, 0.384);
}

.cell1{
    text-align: center;
    display: table-cell;
    padding: 5px;
    border: 2px solid #000000;
    font-weight: bold;
}
.row1 {
    display: table-row;
}
.border{
  margin-left: 200px; margin-right: 200px;

    border-right: 5px solid #000000;
    border-left: 5px solid #000000;
}
