@font-face {
    font-family:'digital';
    src: url(font/Roman\ Greek.ttf);
}
*{
    margin: 0px;
}
body{
    background-image: url(img/usa-new-york-skyscrapers-1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.back{
    margin: 0px;
    background-color: rgba(4, 38, 60, 0.63);
    width: 100vw;
    height: 100vh;
}
.im{
    width: 200px;
    border-radius: 500px;
    border: 50px rgb(57, 57, 138) solid;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
img{
     width: 55px;
     margin: 5px;
}
h2{
    font-family:'digital';
    color: antiquewhite;
    text-align: center;
}
.link{
    box-shadow: 0px 0px 10px cornsilk;
    padding-top: 20px;
    margin:0px;
    background-color: rgb(4, 31, 60);
    text-align: center;
}
.cen{
    margin-left: 50px;
    margin-right: 50px;
}
.cent{
    margin-left: 30px;
    margin-right: 30px;
}
.btn{
    background-color: rgba(0, 255, 255, 0);
    border: none;
    margin-bottom: 15px;
    background-size: 60px;
    padding: 30px;
}
.bt{
    text-align: center;
}
.cal{
    border: 5px  rgb(4, 31, 60) solid;
    background-image: url(img/download.png);
    background-size: 40px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 0px;
    border-right: 25pc rgb(231, 238, 130) solid;
}
.login{
    border: 5px  rgb(4, 31, 60) solid;
    background-image: url(img/images.jpg);
    background-size: 40px;
    border-radius: 10px;
    padding: 20px;
    margin: 0px;
    border-left:none ;
    border-right:none ;
}
.game{
    border: 5px  rgb(4, 31, 60) solid;
    background-image: url(img/company-23.png);
    background-size: 40px;
    border-radius: 10px;
    padding: 20px;
    margin-right: 0px;
    border-left: 25px rgb(231, 238, 130) solid;
}
.tac{

}