* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    position: fixed;
}

.main {
    background: url(mmmmm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

.menu-items {
    border-top: 30px;
    text-align: right;
    /* border: solid 10px rgba(0, 0, 0, 0); */
    /* background-color: rgba(0, 0, 0, 0.244); */
    margin-left: 900px;
    margin-right: 100px;
    margin-top: 1px;
    border-radius: 30px;
}

.result {
    text-align: center;
    margin-left: 1200px;
    margin-right: 70px;
    margin-top: 1px;
    border-radius: 30px;
    color: white;
}
h1 {
    color: white;
}
#details{
text-align: center;
    background-color: rgba(0, 0, 0, 0.447);
    margin-left: 1200px;
    margin-right: 70px;
    margin-top: 1px;
    border-radius: 30px;
    color: white;
    background: url(aaaaaaaaaaaaaa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
          
}