@font-face {
    font-family: name;
    src: url(./font/Pacifico-Regular.ttf);
}
@font-face {
    font-family: com;
    src: url(./font/comic.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(./images/Backgrund.jpg) no-repeat center center fixed ;
    background-blend-mode: multiply;
    background-color: #000814bd;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 10px;
}
.loader{
  background: none;
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s , visibility 0.75s;
}
.loader--hidden{
  opacity: 0;
  visibility: hidden;
}
.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #ffd60a;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  form{ transform: rotate(0turn);}
  to{ transform: rotate(1turn);}
}
.login{
    display: flex;
    justify-content: flex-end;
}
.login button{
    width: 150px;
    height: 30px;
    border: none;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    background-color: #001020;
    box-shadow: 2px 2px 5px #07294b , -2px -2px 5px #07294b;
}
.login a{
    font-family: com;
    color: #fff;
    text-decoration: none;
}
.login :hover{
    background-color: #002041;
    border-radius: 5px;
}
.my-logo{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    transform: translateY(20px);
    transition: transform 1500ms;
    margin-bottom: 50px;
}
.logo{
    cursor: default;
    width: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 15px #07294b,-10px -10px 15px #07294b;
}
.my-name{
  cursor: default;
    color: #fff;
    display: flex;
    justify-content: center;
}
.name{
    font-family: name;
    font-size: 60px;
    font-style: italic;
    transform: translateY(10px);
    transition: transform 1500ms;
    margin-bottom:10px;
}
.my-social{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.body-cocial{
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social1{
    width: 80px;
    transform: translateY(20px);
    transition: transform 500ms;
}
.social2{
    width: 80px;
    transform: translateY(20px);
    transition: transform 800ms;
}
.social3{
    width: 80px;
    transform: translateY(20px);
    transition: transform 1000ms;
}
.social4{
    width: 80px;
    transform: translateY(20px);
    transition: transform 2000ms;
}
.social5{
    width: 80px;
    transform: translateY(20px);
    transition: transform 3000ms;
}
.social6{
    width: 80px;
    transform: translateY(20px);
    transition: transform 4000ms;
}
.social7{
    width: 80px;
    transform: translateY(20px);
    transition: transform 5000ms;
}
.social8{
    width: 80px;
    transform: translateY(20px);
    transition: transform 6000ms;
}
.porject{
    display: flex;
    justify-content: center;
}
/*
*/
  .card {
    background: #ffd60a;
    border-radius: 10px;
    cursor: pointer;
    height: 280px;
    margin: 20px;
    padding: 0 20px;
    position: relative;
    box-shadow: 10px 10px 20px #002e3d,-10px -10px 20px #002e3d;
    -webkit-tap-highlight-color: rgba(0,0,0,0.025);
    text-align: center;
    transition: height 1000ms;
    width: 600px;
  }
  @media (max-width: 900px) {
    .card {
      left: calc(50% - 20px);
      transform: translateX(-50%);
    }
  }
  .card.expanded {
    height: 450px;
  }
  .label {
    width: 220px;
    margin-top: 5px;
    margin-bottom: 20px;
    transform: translateY(10px);
    transition: transform 1000ms;
  }
  .card.expanded .label {
    transform: translateY(0);
  }
  .text1 {
    -webkit-clip-path: polygon(0 100%, 0 40%, 50% 75%, 100% 40%, 100% 100%);
    clip-path: polygon(0 100%, 0 40%, 50% 75%, 100% 40%, 100% 100%);
    transition: clip-path 1000ms;
  }
  .card.expanded .text1 {
    -webkit-clip-path: polygon(-100% 100%, -100% -100%, 50% -100%, 100% -100%, 100% 100%);
    clip-path: polygon(-100% 100%, -100% -100%, 50% -100%, 100% -100%, 100% 100%);
  }
  .por{
    width: 100px;
  }
  .text-content {
    transform: translateY(-500px);
    transition: transform 1000ms;
  }
  .card.expanded .text-content {
    transform: translateY(-15px);
  }
  .chevron {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 15px);
    transform-origin: 50%;
    transform: rotate(180deg);
    transition: transform 1000ms;
  }
  .card.expanded .chevron {
    transform: rotate(0deg);
  }
  .title {
    font-family: com, sans-serif;
    font-weight: 900;
    margin: 20px 0 12px;
  }
  .body-text {
    padding: 0 20px;
  }
/**/
