*{
    padding: 0;
    margin: 0;
}
.upper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.up{
    background-color: rgb(0, 0, 0);
    display: inline-flex;
    flex-direction: column;
    width: 425px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    box-shadow: -3px 8px 20px 0px rgb(0, 0, 0);
}
.up input{
    width: 300px;
    height: 35px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.up h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: lighter;
    color: snow;
    margin: 10px;
}
.up #btnd{
    margin-top: 50px;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    transition: all .3s;
    color: snow;
    border: none;
    box-shadow: -3px 8px 20px 0px rgb(0, 0, 0);
}
.ss #sst{
    color: snow;
    text-decoration: none;
    font-size: smaller;
}
body{
    background-image: url(windows-11-3840x2160-dark-microsoft-opera-4k-23838.jpeg);
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
    display: inline-flex;
}
.up0-2{
    justify-content: center;
    align-items: center;
    margin-left: 10vh;
}
.up0{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(243, 239, 239);
    font-size: medium;
    text-align: center;
    margin: 5vh;
    justify-content: center;
    align-items: center;
}
.up0-1{
    margin-top: 10vh;
    margin-left: 10vh;
    justify-content: center;
    align-items: center;
}
.up0-1 video{
    padding: 5px;
    border-radius: 10px;
    box-shadow: -3px 8px 20px 0px rgb(0, 0, 0);
}
#t1{
    padding: 10px;
}
.up #btnd:hover{
    background-color: rgb(175, 0, 0);
    transition: all .3s;
}