body{
background-color: rgb(108, 107, 108); 
}
h2
{color: #ffffff;
text-decoration: rtl ;
}

.game1 {
    font-size: 40px;
    color: #ff0000;
}
.game2{
    font-size: 40px;

color:rgb(20, 96, 228);
}
h1.game2{
    color: rgb(108, 107, 108)}
.talebi{
     width: 300px ;
}
hr{
    height: 3px;
    background-color: #ffffff;
}