body{
background-color:#2F4F4F;
}
h1.amir1{
    color:#000080;
}
hr{
    height: 3px;
    background-color: black;
}

i.amir1{
    color: brown;
}
i.amir2{
    color: tomato;
}
h2{
   color: aquamarine;
}
.gta{
 width:150px;
}
.fifa23{
    width: 150px;
}
.pes21{
    width: 150px;
}
.wwe{
    width: 150px;
}
.NBA{
    width: 150px;
}
.marve{
    width: 150px;
}
.csgo{
    width: 150px;
}
.black{
    width: 150PX;
}
.FC24{
    width: 150px;
}
.San{
    width: 150px;
}
.f17{
    width:150px
    
}
.g{
    text-align: right;
    direction: rtl;
}
.h{
    text-align: right;   
}
.e{
    color: aliceblue;
}
.q{
    color: aqua ;
}
.GAM{
    color: chocolate;
}
.BA{
    color: brown;
}