body {
  background-image: url(../../style/photo/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.all {
  font-size: 25px;
  text-align: center;
  width: 33%;
  padding: 50px;
  background-color: rgba(58, 58, 58, 0.9);
  display: block;
}
.name {
  font-size: 25px;
}
.sabt {
  border-radius: 5px;
  text-decoration: none;
  border: 2px black solid;
  background-color: silver;
  padding: 5px 10px;
  color: black;
}
.sabt-1 :hover {
  box-shadow: 0 0 3px 1px #000;
  background-color: #5a5a5a;
}
