 @font-face {
  font-family: "font1";
  src: url(font/Poppins-Light.ttf);
 }
 
 .center {
      text-align: center;
    }
    
    .image {
      width: 70%;
    }
    
    * {
      margin: 0;
      padding: 0;
    }
    
    body {
      background: url(image/giphy6.gif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .container {
      background-color: #00ffe15e;
      width: 100vw;
      height: 100vh;
    }
    
    .text-blue {
      color: #0000ff;
    }
  
    .pic {
      width: 65px;
    }
  
    .aksme {
      width: 370px;
    }
  
    a {
      width: 4px;
    }
  
    .nameme {
        text-align: center;
      font-weight: bold;
      color: yellow;
      font-size: 300%;
      font-family: font1;
    }
    