body {
    padding: 0;
    margin: 0;
}

.backGround {
    background-color: rgb(12, 115, 147);
    width: 100vw;
    height: 100vh;
    opacity: 100%;
    position: absolute;
}

.img {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.width {
    width: 300px;
    height: 300px;
    border-radius: 70%;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    margin-top: -100px;
    gap: 50px;
}

a:hover {
    color: black;
}