body{
    background-color: rgb(177, 175, 139);
}

h3.game1 {
    color: rgba(230, 246, 6, 0.827);
}

h1.game2{
    color: rgb(218, 139, 22);
}
h2.Rate{
    color: aquamarine;
}
h2.game4{
    color: darkgreen;
}
h3.game4{
    color:yellow;
}
h4.game4{
    color:yellow;
}
h3.game1{
    color: aqua;
}
hr{
    margin-right: 0px;
     height: 3px;
     background: #ffffff;
}