@font-face {
  font-family: "a1";
  src: url(font/icbmss25.ttf)
}


.center {
  text-align: center;


}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(imge/1\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;

}

.container {
  background-color: #1202ffdf;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  padding: px 100px 200px 100px;
  font-size: 30px;
  color: white;
  font-family: "a1";


}

.prof {
  text-align: center;
  margin: 20px;
  width: 170px;
  border: 7px solid rgb(255, 238, 238);
  height: 170px;
  border-radius: 100%;

}

.icon {
  font-size: 40px;
  color: white;
  padding: 8px;
  text-align: center;

}

.icon1 {
  font-size: 40px;
  color: white;
  padding: 10px;
  text-align: center;

}

.icon2 {
  font-size: 40px;
  color: white;
  padding: 12px;
  text-align: center;

}

.icon3 {
  font-size: 40px;
  color: white;
  padding: 15px;
  text-align: center;

}

.icon4 {
  font-size: 40px;
  color: white;
  padding: 18px;
  text-align: center;

}

.icon1:hover {
  color: black;
}

.icon2:hover {
  color: black;
}

.icon4:hover {
  color: black;
}

.icon3:hover {
  color: black;
}

.icon:hover {
  color: black;
}

.prof:hover {
  opacity: 0.4;
  border-radius: 0px;
  border-color: rgb(0, 0, 0);

}