
@font-face {
  font-family: "a1";
  src: url(font/icbmss25.ttf)
}


.center {
    text-align: center;
  
   
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: url(imge/1\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
 
  }
  
  .container {
    background: radial-gradient(circle,rgba(0, 0, 255, 0.955)40%,rgba(255, 255, 255, 0.941)100%);
    width: 100vw;
    height: 100vh;
  }
  h1{
    text-align: center;
     padding: px 100px 200px 100px;
     font-size: 30px;
     color: rgb(255, 255, 255);
     font-family:"a1";
     text-shadow: 19px 15px 10px rgb(0, 0, 0);
    

  }
  .prof{
    text-align: center;
    margin: 20px;
    width: 250px;
    border: 1px solid rgb(255, 145, 0);
    height: 250px;
    border-radius: 100%;
    margin-top: 100px;
    box-shadow: 10px 10px 27px rgb(255, 170, 0);
    
  }
  .icon{
    font-size: 30px;
    color: white;
    padding: 8px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    
  }
  .icon1{
    font-size: 30px;
    color: white;
    padding: 10px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
   
  }
  .icon2{
    font-size: 30px;
    color: white;
    padding: 12px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    
  }
  .icon3{
    font-size: 30px;
    color: white;
    padding: 15px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    
  }
  .icon4{
    font-size: 30px;
    color: white;
    padding: 18px;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    
  }
  .icon1:hover{
    color: black;
  }
  .icon2:hover{
    color: black;
  }
  .icon4:hover{
    color: black;
  }
  .icon3:hover{
    color: black;
  }
  .icon:hover{
    color: black;
  }
  .prof:hover{
    opacity: 0.4;
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgb(255, 149, 0);
    
  }
  
