.back{
    background-color: rgba(0, 0, 255, 0.699);
    width: 100vw;
    height: 100vh;

}
body{
    background-image: url(img/تفاوت-بین-کد-نویسی-و-برنامه-نویسی-چیست؟.jpg);
    background-size: cover;
    margin: 0;
}
.im{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
img{
    width: 55px;
    margin: 1%;
}
h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    text-align: center;
}
.link{
    margin-left: 480px;
}