@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
/*font-family: 'Exo 2', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}
body {
  background-color: #191e29;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23132D46' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23132D46'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.loader {
  background: none;
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #132d46;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #fff;
  border-top-color: #01c36841;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  form {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.continer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.games {
  width: 250px;
  height: 350px;
  background-color: #132d46;
  border-radius: 10px;
  font-size: 9px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: default;
  color: #fff;
}
.games input {
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #191e29;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 3px 3px 30px #01c3681f, 3px 3px 30px #01c3681f;
  color: #fff;
  transform: translateY(0px);
  transition: transform 1000ms;
}
.games input::-webkit-outer-spin-button,
.games input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.games input:hover {
  background-color: #191e29;
  box-shadow: 3px 3px 30px #01c36869, 3px 3px 30px #01c36869;
  transform: translateY(5px);
  transition: transform 1000ms;
}
.games button {
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #191e29;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 3px 3px 30px #01c3681f, 3px 3px 30px #01c3681f;
  color: #fff;
  transform: translateY(0px);
  transition: transform 1000ms;
}
.games button:hover {
  background-color: #191e29;
  box-shadow: 3px 3px 30px #01c36869, 3px 3px 30px #01c36869;
  transform: translateY(5px);
  transition: transform 1000ms;
}
.games a {
  width: 100%;
}
.games h3 {
  font-size: 12px;
}
.games h2 {
  font-size: 18px;
}
.winer {
  margin: 5px;
  background-color: #132d46;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  font-size: 10px;
  color: #fff;
  box-shadow: 3px 3px 100px #01c3682d, 3px 3px 100px #01c3681f;
}
.winer button {
  width: 200px;
  height: 45px;
  border: none;
  background: #191e29;
  border-radius: 10px;
  box-shadow: 3px 3px 30px #01c3681f, 3px 3px 30px #01c3681f;
  color: #fff;
  transform: translateY(0px);
  transition: transform 1000ms;
}
.winer button:hover {
  background-color: #191e29;
  box-shadow: 3px 3px 30px #01c36869, 3px 3px 30px #01c36869;
  transform: translateY(5px);
  transition: transform 1000ms;
}
.over {
  margin: 5px;
  background-color: #132d46;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  font-size: 10px;
  color: #fff;
  box-shadow: 3px 3px 100px #c301012d, 3px 3px 100px #c301012d;
}
.over button {
  width: 200px;
  height: 45px;
  border: none;
  background: #191e29;
  border-radius: 10px;
  box-shadow: 3px 3px 30px #c301012d, 3px 3px 30px #c301012d;
  color: #fff;
  transform: translateY(0px);
  transition: transform 1000ms;
}
.over button:hover {
  background-color: #191e29;
  box-shadow: 3px 3px 30px #c301015b, 3px 3px 30px #c301015b;
  transform: translateY(5px);
  transition: transform 1000ms;
}
