body{
    font-family: tahoma;
    background-size: 300px;
    background-image: url(image/photo_8_2023-11-06_16-24-19.jpg);
    margin: 0;
}

header{
    text-align: center;
    background: rgb(0, 221, 255);
    padding: 5px 0px;
}

.Grouping{
    text-align: center;
    color: rgb(255, 174, 25);
}

.Grouping2{
    text-align: center;
    color: blueviolet;
}

.Grouping3{
    text-align: center;
    color: greenyellow;
}

.title1{
    font-size: 40px;
    color: rgb(255, 255, 43);
    font-weight: bold;
}

.title2{
    font-size: 40px;
    color: rgb(75, 75, 75);
    font-weight: bold;
}

.title3{
    font-size: 40px;
    color: greenyellow;
    font-weight: bold;
}

.game-list{
    list-style-type: none;
}

.game-list2{
    list-style-type:none ;
}

.game-list3{
    list-style: none;
}

.game-card{
    text-align: center;
    border: 5px rgb(255, 174, 25) solid;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    margin: 20px 30px ;
}

.game-card2{
    text-align: center;
    border: 5px blueviolet solid;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    margin: 20px 30px ; 
}

.game-card3{
    text-align: center;
    border: 5px greenyellow solid;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    margin: 20px 30px ;  
}

.game-title{
    color: black;
    font-size: 26px;
}

.game-title2{
    color: black;
    font-size: 26px;
}

.game-title3{
    color: black;
    font-size: 26px;
}

.game-image{
    width: 69%;
}

.game-image2{
    width: 69%;
}

.game-image3{
    width: 69%;
}

.game-description{
    direction: rtl;
}

.game-description2{
    direction: rtl;
}

.game-description3{
    direction: rtl;
}

.game-rank{
    font-weight: bold;
    background: whitesmoke;
    border: 1px grey;
    border-radius: 20px;
    display: inline;
    padding: 0.3%;
}

hr{
    height: 3px;
    background-color: black;
}

.game-platfrom-table{
    border-collapse:collapse ;
    width: 100%;
}

.game-platfrom-table2{
    border-collapse: collapse;
    width: 100%;
}

.game-platfrom-table3{
    border-collapse: collapse;
    width: 100%;
}

.game-platfrom-table td,
.game-platfrom-table th{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.game-platfrom-table2 td,
.game-platfrom-table2 th{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.game-platfrom-table3 td,
.game-platfrom-table3 th{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.game-platfrom-table tr:nth-child(even){
    background-color: rgb(223, 222, 222);
}

.game-platfrom-table2 tr:nth-child(even){
    background-color: rgb(223, 222, 222);
}

.game-platfrom-table3 tr:nth-child(even){
    background-color: rgb(223, 222, 222);
}

.text-green{
    color: green;
}

.text-red{
    color: red;
}

.text-orange{
    color: rgb(255, 174, 25);
}

.text-Purple{
    color: blueviolet;
}

.text-yelgreen{
    color: yellowgreen;
}

footer{
    text-align: center;
    background: rgb(0, 221, 255);
    padding: 16px 0px;
    margin-top: 50px;
}