.head{
  background-color: #000000;
  padding-top: 9px; 
  padding-bottom: 9px;
  }
    .body{
    margin: 0px;
  }
.logo{
    margin-top: 200px;
    width: 70px;
    height: 70px;
    color: #000000;
    margin-left: 48px;
}
  .text{
    color: aliceblue;
    text-align: center;
  }
  