body{
    text-align: center;
    background-image: url(folder/img/background-design.jpg);
    background-repeat: repeat; 
}
h5{
    color: rgb(226, 208, 43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.col{
    margin-top: 40px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}
.pass{
    
    border-color: rgb(225, 235, 235);
    border-top: 1px;
    border-left: 1px ;
    border-right: 1px ;
    margin: 20px;
    padding: 3px;
    width: 240px;
}
.user{
    border-color: rgb(225, 235, 235);
    border-top: 1px;
    border-left: 1px ;
    border-right: 1px ;
    margin: 20px;
    padding: 3px;
    width: 240px;
}
.text{
    margin-right: 200px;
    font-size: 10px;
}
.forgot{
    display: inline-block;
    margin-top: 0px;
    background-color: rgba(250, 235, 215, 0);
    border: none;
    margin-left: 200px;
    font-size: 10px;
}
.google{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    background-repeat: no-repeat;
    background-size: 50px;
    background-image: url(folder/img/720255.png);
    padding: 25px;
}
.Login{
    background-image: url(folder/img/background-design.jpg);
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 25px;
}
.Login:hover{
    background-size: cover;
}