body {
    margin: 0;
    padding: 0;
    background-image: url(img/back.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    /* width: 100%; */
}

.all {
    text-align: center;
    /* content: ""; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(54, 2, 133), rgba(127, 9, 151, 0.778));
    /* width: 100%; */
}

/* ----------------------------------------------------------------------------------- */
.circle-border {
    /* width: 200px; */
    /* height: 200px; */
    /* margin: 0 auto; */
    /* position: absolute; */
    /* top: 20%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

/* ------------------------------------------------------------------------------------ */
.profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 50%;
    border-color: rgba(220, 59, 220, 0.223);
    margin-top: 100px;
    /* margin: 0 auto; */
    /* border-radius: 50%; */
}

.name {
    /* position: absolute; */
    /* top: 33%; */
    /* left: 36%; */
    /* right: 20%; */
    /* bottom: 30px; */
    font-size: 13px;
    font-family: monospace;
    color: rgb(255, 255, 255);
    margin-top: 50px;
}

span {
    color: red;
}

/* ------------------------------------------------------------------------------------ */
.social-links {
    /* position: absolute; */
    /* top: 52%; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* text-align: center; */
    margin-top: 70px;
}

.social-icon {
    width: 38px;
    margin: 0 12px;
}

.tel-img {
    color: #229ED9;
    /* width: 38px; */
    /* margin-left: 12px; */
    /* margin-top: 12px; */
}

.github-img {
    color: #686868c9;
    /* width: 38px; */
    /* margin-left: 45px; */
}

.twitter-img {
    color: #000000;
    /* width: 38px; */
    /* margin-left: 45px; */
}

.google-img {
    color: #DB4437;
    /* width: 38px; */
    /* margin-left: 45px; */
}

.discord-img {
    color: #5865F2;
    /* width: 38px; */
    /* margin-left: 45px; */
}
.game-img {
    color: white;
}

/* ------------------------------------------------------------------------------- */
.welcome-audio {
    /* width: 55px; */
    margin-top: 90px;
    /* margin-left: 710px; */
}

.audio-title {
    /* color: red; */
}
/* ------------------------------------------------------------------------------------- */
.login-btn{
    width:  75px;
    height: 55px;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-family: monospace;
    color: white;
    background-color: rgb(67, 6, 67);
    transition: background 2s;
}