@font-face {
  font-family: "ITCBLKAD";
  src: url(../font/ITCBLKAD.TTF);
}

body {
  margin: 0;
}

/* header */
header {
  background-image: url(../../style/image/back-ground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 25px;
}

.home {
  border: 2px #c0c0c0 solid;
  color: #c0c0c0;
  padding: 5px;
}

a {
  text-decoration: none;
}

.all-header {
  background-color: rgba(161, 161, 161, 0.7);
  padding-bottom: 50px;
  text-align: center;
  margin: 0;
}

.site-name {
  margin: 30px;
  display: inline;
}

.name {
  display: inline;
}

.clik {
  margin: 0 50%;
  text-align: center;
  display: inline-block;
}

/* body */
.fav-cars {
  background-image: url(../../style/image/bg.jpg);
  display: block;
  text-align: center;
  border: 2px black solid;
  border-radius: 25px;
  margin: 25px 10px;
  font-family: "ITCBLKAD";
}

.photo {
  width: 50%;
  display: inline;
}

.logo-cars {
  width: 50%;
  display: inline-block;
}

.logo-cars-1 {
  width: 50%;
  display: inline-block;
}
.logo-cars2 {
  width: 50%;
  display: inline-block;
}
.logo-cars-3 {
  width: 50%;
  display: inline-block;
}


.lorem {
  background-color: #e7e7e7;
  padding: 10px;
  display: block;
  color: dimgray;
  margin: 15px;
  display: inline-block;
  width: 50%;
  font-size: 25px;
}

.number {
  text-align: center;
  display: block;
  border: 2px black solid;
  margin: 20px;
  padding: 10px;
  color: gray;
  font-size: 25px;
}

.back {
  text-align: center;
  margin: 30px 25px;
}

.clik-back {
  font-size: 20px;
  background-color: #a1a1a1;
  border: 2px #a1a1a1 solid;
  color: white;
  padding: 10px 10px;
  display: inline-block;
}

.all {
  background-image: url(../../style/image/back-ground-body.jpg);
}

form {
  font-size: 25px;
}

.dokmeh {
  text-align: center;
  background-color: #a1a1a1;
  color: white;
  padding: 10px 15px;
  margin: 10px;
}

.nazar-sanji {
  border: 2px black solid;
  margin: 5px;
}

/* footer */
footer {
  background-image: url(../../style/image/footer-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hagh {
  background-color: rgba(161, 161, 161, 0.8);
  font-size: 20px;
  padding: 10px;
}

.logo {
  width: 50px;
}

.ertebat {
  color: white;
}
