* {
  margin: 0px;
}
body {
  background-image: url(photo/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.id {
  background-color: rgba(161, 161, 161, 0.9);
  background-size: cover;
  text-align: center;
}
.photo-me {
  padding: 5vw;
  width: 300px;
  border-radius: 300px;
}
.icon-1 {
  padding: 45px 5px;
  width: 60px;
}
.icon-2 {
  padding: 50px 10px;
  width: 45px;
}
.icon-3 {
  padding: 45px 10px;
  width: 50px;
}
.icon-4 {
  padding: 50px 10px;
  width: 40px;
}
.icon-5 {
  padding: 50px 0;
  width: 40px;
}
.all-about {
  border: 2px black solid;
  padding: 50px;
  margin: 0 20px 0 20px;
}
.about-me {
  padding: 10px;
}
.lorem {
  padding: 20px;
}
