* {
    text-align: center;
    margin: auto;
    font-family: "Courier Prime", monospace;
}

body {
    background-color: black;
    text-align: center;
    padding-top: 250px;
}

.Cal {
    background-color: black;
}

button {
    width: 47px;
    height: 47px;
}

.Cal .Clear {
    background-color: rgb(255, 0, 0);
}

.Cal .EPM {
    background-color: rgb(0, 116, 161);
}

.Cal .equal {
    background-color: green;
}
