body {
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top10 {
  border: 5px solid black;
  width: 400px;
  height: 600px;
  margin-top: 50px;
  border-radius: 30px;
  margin-left: 10px;
  background-color: rgba(0, 0, 255, 0.605);
}

.calculator {
  border: 5px solid black;
  width: 400px;
  height: 600px;
  border-radius: 30px;
  margin-top: -607px;
  margin-left: 450px;
  background-color: rgba(0, 255, 51, 0.537);
}

.form {
  border: 5px solid black;
  width: 400px;
  height: 600px;
  border-radius: 30px;
  margin-top: -607px;
  margin-left: 880px;
  background-color: rgba(39, 255, 244, 0.532);
}

.TEX {
  text-align: center;
  font-size: 50px;
  margin-left: 50px;
  border-radius: 10px;
}

.button {
  font-size: 30px;
  margin-left: 150px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 6px black;
  cursor: pointer;

}

.img {
  width: 300px;
  margin-left: 50px;
  border-radius: 10px;
  height: 300PX;
}

.button1 {
  font-size: 30px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 6px black;
  cursor: pointer;

}

.button2 {
  font-size: 30px;
  margin-left: 40px;
  margin-top: 50PX;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 6px black;
  cursor: pointer;

}