body {
  background-image: url(1.jpg);
  background-repeat: n-repeat;
  background-size: cover;

}

.all {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  border: 5px solid black;
  text-align: center;
  width: 350px;
  border-radius: 30px;
}

.top10 {
  background-color: rgba(0, 0, 255, 0.605);

}

.calculator {
  background-color: rgba(0, 255, 51, 0.537);

}

.form {
  background-color: rgba(39, 255, 244, 0.532);

}

.number {
  background-color: rgba(255, 39, 39, 0.532);

}

.TEX {
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
}

.button {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 6px black;
  cursor: pointer;

}

.img {
  width: 300px;
  border-radius: 10px;
  height: 300PX;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: 0px 4px 0px 2px black
}