body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-image: url(cover_bg_3\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (min-width: 500px) {
    h1 {
        background-color: black;
        /* display: inline-block; */
        /* margin:0px 670px;   */
    }
}

h1 {
    width: fit-content;
    margin: auto;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.profile {

    text-align: center;
    margin: 20px;
    width: 200px;

}


.back-img {
    width: 100vw;
    height: 100vh;

}

.icons {

    display: inline;
    margin: auto;
    text-align: center;

}

.img {
    background-color: rgb(245, 181, 181);
    border-radius: 11px;
    margin: auto;
    margin-top: 80px;
    max-width: 60px;

}

.img2 {
    background-color: rgb(245, 181, 181);
    border-radius: 11px;
    margin: auto;
    margin-top: 10px;
    max-width: 60px;

}