body{   font-family: Arial, Helvetica, sans-serif;
    background-color: #db9292;
}
.name{
     border-color: rgb(7, 58, 24);
    color: #db9292;
    border-style:solid;
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(105, 9, 9);

}
h1{
    text-align: center;
}
.game1{
    color: rgb(40, 12, 85);
}
.game2{
    color: rgb(60, 10, 75);
}

#img{
    width: 300px;

}
hr{

    color: black;
    height: 5px;
}
p{
    color: rgb(43, 12, 92);
}
h3{
    color: rgb(60, 10, 75);
}
.topgame-size{
    text-align: center;
}