* {
  margin: 0px;
  
}
body {
  background-image: url(photo/bg.jpg);
  background-size: cover;
}

.all {

  background-size: cover;
  text-align: center;
}
.pic {
  box-shadow: 1px 0px 32px -5px rgba(30,0,145,0.75);
  padding: 5vw;
  width: 300px;
  border-radius: 300px;
}
.insta{
  padding: 40px 5px;
  width: 70px;
 
}
.telegram {
  padding: 50px 10px;
  width: 45px;
}
.twi {
  padding: 50px 10px;
  width: 50px;
}
.yout {
  padding: 50px 10px;
  width: 50px;
}
