.dokme1{
background-color: blue;
width: 55px;
}
.dokme2{
    background-color: rgb(255, 187, 0);
    width: 55px;
}
.dokme5{
        background-color: blue;
        width: 25px;
}
.dokme6{
    background-color: rgb(189, 189, 189);
    width: 25px;
}
.dokme{
    background-color: rgb(255, 255, 255);
    width: 25px;
}
.dokme3{
    background-color: rgb(187, 187, 187);
    width: 25px;
}
.dokme7{
    background-color: rgb(255, 0, 0);
    width: 25px;
    }