* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(image/basic-math-symbol-sketch_755164-3257.avif);
}
.calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 5px gray solid;
    border-radius: 20px;
    background-color: gray;
    
}

#display{
    margin-top: 100px;
    width: 300px;
    height: 70px;
}

input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
}

button {
    border:5px blueviolet solid ;
    border-radius: 7px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 5px;
    background-color: rgb(251, 255, 0);
}

.bag {
    background-size: cover;
}

.backco {
    background-color: #00ff08a8;
    width: 100vw;
    height: 100vh;
}

.c:active {
    background-color: red;

}

.cf:active {
    background-color: pink;
}

.cz:active {
    background-color: greenyellow;
}

.c0:active {
    background-color: blue;
}